.container{
    display: flex; 
    position: relative;
}

.welcome{
    font-size: larger;
    width: 100%;
    position: absolute;
}

.weekContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 70%;
    margin-top: 10%;
    margin-left: 10%;
}

.dailyForcast {
    background-color: #ccc0c0cc;
    border: 1px solid black;
    border-radius : 5px;
    width: 100%;
    display: flex;
    margin: 2% auto;;
}

.dailyInfos {
    width: 50%;
}

.scattered {
    background-image: url('./img/scatteredClouds.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.few {
    background-image: url('./img/scatteredClouds.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.clear {
    background-image: url('./img/clearSky.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.overcast {
    background-image: url('./img/overcastCloud.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.broken  {
    background-image: url('./img/brokenClouds.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.light  {
    background-image: url('./img/lightRain.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.moderate  {
    background-image: url('./img/moderateRain.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.heavy  {
    background-image: url('./img/HeavyIntensityRain.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
}

.dailyDatas {
    border : 3px solid black;
    background-color:#ccc0c0cc;
    padding:1%;
    border-radius: 10px;
    box-shadow: 1px 1px;
    max-width: 50%;
    margin: 3% auto;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dailyDatas p {
    padding-top: 0;
    align-self: center;
    margin: auto;
    border-bottom: 1px dashed black;
    display: block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 8%;

}

.dailyDatas img {
    margin-bottom: 0;
}