.container{
    border: 2px solid orange;
}

.weekContainer{
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.dailyForcast {
    border: 1px solid black;
    border-radius : 5px;
    width: 20%;
}